<!--코스 목록-->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'course_eat' %}">eat</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'course_look' %}">look</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'course_play' %}">play</a></li>
    </ul>
  </div>

<p>볼거리</p>
<a href="{% url 'course_look_C' %}">글쓰기</a>

{% for look_Cs in look_Cs.all %}

{{ look_Cs.Title }}</br>
{{ look_Cs.Writer }}</br>
{{ look_Cs.Write_day }}</br>
{{ look_Cs.Image }}</br>
{{ look_Cs.big_region }}</br>
{{ look_Cs.small_region }}</br>
{{ look_Cs.Look_likes }}</br>
{{ look_Cs.view_count }}</br>

{% endfor %}