{% extends 'layout1.html' %} 
{% load static %}

{% block head %}
<title>너와 나의 달달한 소스, JamJam</title>

{% endblock %}
{% block contents %}
    <link href="{% static 'jamjamapp/css/community.css' %}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    
    <div class="maincontainer">
        <h2 style="text-align: center; font-size: 60px;">커뮤니티</h2>
        <br>
        <br>
        <br>
        <ul class="commu-menu">
            <li class="teen">10대</li>
            <li class="adult">20~30대</li>
            <li class="free">자유게시판</li>
            <li class="sex">성고민</li>
        </ul>
    <br>
    <br>

        <h3 class="commu-h3" style="font-size: 40px; width: 20%; margin-bottom: 20px;">{{ blog.Title }}</h3>
        <h4 class="commu-h4">작성자: {{ user.username }}</h4>
        <h4 class="commu-h4">작성일: {{ blog.Write_day }}</h4>

        <hr class="commu-hr">

        <h4 class="commu-detail-content">{{ blog.Content }}</h4>

        <!--여기 좋아요 있어요!!! 프론트 분들 고생하십니다ㅠㅠ-->
        
        <a href="{% url 'commu_like' pk=blog.pk %}">
        {% if user in blog.Blog_likes.all %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>
        {% endif %}
        <p>{{ blog.Blog_likes.count }}</p>

        <!--여긴 조회수임다!!-->

        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
        </svg>
        <h4 class="icon">{{blog.view_count}}</p></h4>

        <!--수정&삭제 여깄습니다!!-->
        <a href="{% url 'commu_edit' blog.id %}">수정</a>
        <a href="{% url 'commu_delete' blog.id %}">삭제</a>
        
        <div class="commu-write-btn" onclick="bookmark()">
            <button class="write-btn" style="display: flex; width: 15vh; justify-content: center; align-items: right; margin-bottom: 40px; margin-left: 10px;">스크랩</button>
        </div>

        <div id="bookmark-url-body" class="show">
            <div class="url-plus">
                <label class="bookmark-create-Label">URL추가</label>
                <input type="text" required class="bookmark-create-input" placeholder="URL입력">
                    <span class="bookmark-spanoverlay"></span>
            </div>
            <div class="url-name">
                <label class="bookmark-create-Label">URL이름</label>
                <input type="text" required class="bookmark-create-input" placeholder="URL이름">
                <span class="bookmark-spanoverlay"></span>
            </div>
            <div class="url-category">
                <select id="category">
                    <option>--카테고리 선택--</option>
                    <option>광현</option>
                    <option>주영</option>
                    <option>민정</option>
                    <option>은혜</option>
                    <option>예찬</option>
                </select>
            </div>
            <div class="url-btn">
                <button class="add-btn"> <a href={% url 'bookmark_list' %} style="text-decoration:none; text-align:center; content-align:center; font-size:30px;">등록</a></button>
            </div>
        </div>
        <script>
            function bookmark(){
                document.getElementById("bookmark-url-body").classList.toggle("show");
            }
    </script>

        <hr class="commu-hr">

        
        <section class="content-item" id="comments">
            <div class="container">   
                <div class="row">
                    <div class="col-sm-8">
                        <h3>3 Comments</h3>
                        
                        <!-- COMMENT 1 - START -->
                        <div class="media comment-media">
                            <a class="pull-left" href="#"><img class="media-object" src="https://www.interstatedevelopment.com/wp-content/uploads/2019/04/generic-avatar-1.jpg" alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading">피카츄</h4>
                                <p>어쩌구</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>21.07.24.</li>
                                    <li><i class="fa fa-thumbs-up"></i>3</li>
                                </ul>
                                <ul class="list-unstyled list-inline media-detail pull-right">
                                    <li><a class="comment-btn" href="">Like</a></li>
                                    <li><a class="comment-btn" href="">Reply</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- COMMENT 1 - END -->
                        
                        <!-- COMMENT 2 - START -->
                        <div class="media">
                            <a class="pull-left" href="#"><img class="media-object" src="https://www.interstatedevelopment.com/wp-content/uploads/2019/04/generic-avatar-1.jpg" alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading">파이리</h4>
                                <p>저쩌구</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>21.07.24.</li>
                                    <li><i class="fa fa-thumbs-up"></i>3</li>
                                </ul>
                                <ul class="list-unstyled list-inline media-detail pull-right">
                                    <li><a class="comment-btn" href="">Like</a></li>
                                    <li><a class="comment-btn" href="">Reply</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- COMMENT 2 - END -->
                        
                        <!-- COMMENT 3 - START -->
                        <div class="media">
                            <a class="pull-left" href="#"><img class="media-object" src="https://www.interstatedevelopment.com/wp-content/uploads/2019/04/generic-avatar-1.jpg" alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading">꼬부기</h4>
                                <p>와라라라라랄</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>21.07.24.</li>
                                    <li><i class="fa fa-thumbs-up"></i>1</li>
                                </ul>
                                <ul class="list-unstyled list-inline media-detail pull-right">
                                    <li><a class="comment-btn" href="">Like</a></li>
                                    <li><a class="comment-btn" href="">Reply</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- COMMENT 3 - END -->
                    </div>
                </div>
            </div>
        </section>

        <div class="panel">
            <div class="panel-body">
              <textarea class="form-control comment-input" rows="2" placeholder="댓글을 입력해주세요."></textarea>
              <div class="mar-top clearfix">
                <button class="btn btn-sm btn-primary pull-right comment-submit" type="submit"><i class="fa fa-pencil fa-fw"></i>등록</button>
                <a class="btn btn-trans btn-icon fa fa-camera fa-3x add-tooltip comment-button" href="#"></a>
              </div>
            </div>
          </div>
    </div>
{% endblock %}