@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FFC4CE;
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li {
    float: left;
 
}

li a {
    color: #ffffff;
    position:absolute;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: IM_Hyemin-Bold;
}

li a.current {
    color: white;
}

li a.hover {
    color: red;
}

.navbar-hellouser {
    margin-left: 50px
} 