{% extends 'layout1.html' %} 
{% load static %}

{% block head %}
<title>너와 나의 달달한 소스, JamJam</title>

{% endblock %}
{% block contents %}
    <link href="{% static 'jamjamapp/css/diary.css' %}" rel="stylesheet"/>

    <div class="container">
      <a class="nav-link" href="{% url 'new' %}">일정 입력</a>
      <br>
      <h1>다이어리</h1>
      <div class="outer">
          <a class="btn btn-info left" id="btn-diary-left" href="{% url 'calendar' %}?{{ prev_month }}"></a> 
          <a class="btn btn-info right" id="btn-diary-right" href="{% url 'calendar' %}?{{ next_month }}"></a>
      </div>
      {{calendar}}
    </div>
{% endblock %}