<!--커뮤니티 목록-->
<h1>민정 layout</h1>

{% for hashtag in hashtag.all %}
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link" href="{% url 'community' hashtag.id %}">{{ hashtag.name }}</a></li>
</ul>
{% endfor %}

<button type="button"><a href="{% url 'bookmark_category' %}">bookmark</a></button>

<!--드롭다운 지역 목록후보 1-->
<!-- <script>
    function changes1Step(fr) {
     if(fr=="커뮤") {
      num = new Array("--2단계--", "10대","20~30대");
      vnum = new Array("--2단계--", "10대","20~30대");
     }
     else if(fr=="니티") {
      num = new Array("--2단계--", "자유게시판","성고민");
      vnum = new Array("--2단계--", "자유게시판","성고민");
     }
     
     for(i=0; i<form.Step2.length; i++) {
      form.Step2.options[i] = null;
     }
     
     for(i=0; i<num.length; i++) {
      form.Step2.options[i] = new Option(num[i],vnum[i]);
     }
    }
</script>


<div> 
<form name='form'>
<select name='Step1' onchange='changes1Step(value)'>
<option>--1단계--</option>
<option value="커뮤">커뮤</option>
<option value="니티">니티</option>
</select>

<select name='Step2' onchange='changes2Step(value)'>
  <option>--2단계--</option>
</select>
</form>
</div>   -->


<!--민정 layout-->


<h1>예찬 layout</h1>

<button type="button"><a href="{% url 'day_detail' %}">day_detail</a></button>
<button type="button"><a href="{% url 'profile' %}">profile</a></button>
<button type="button"><a href="{% url 'bucketlist' %}">bucketlist</a></button>
<button type="button"><a href="{% url 'pay' %}">pay</a></button>
<button type="button"><a href="{% url 'signup' %}">signup</a></button>

<!--예찬 layout-->

<h1 class="masthead-subheading mb-0">likelion 9th JamJam</h1>
<!--시작-->
{% if user.is_authenticated %}
<h2 class="masthead-subheading mb-0">hello {{user.username}}</h2>
<a href="{% url 'logout' %}"> logout</a>
{% else %}
<form method="POST" action="/signin">
  {% csrf_token %}
  <div>
    아이디 : <input name="username">
  </div>
  <div>
    비밀번호 : <input name="password">
  </div>
  <input type="submit" value="submit">
</form>
{% endif %}
      <!--끝-->

 <!--광현 layout-->